{% load static %}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3 me-4" href="{% url 'Mainapp:main' %}">SOWS</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar-->
    {% if user.is_authenticated %}    
    <a href="{% url 'Mainapp:mypage' %}" style="width: 100%;">
        <img class="mypage_icon" src="{% static 'images/mypage.png' %}"/>
    </a>
    {% else %}
    <a href="{% url 'Mainapp:login' %}?next={{ request.path }}" style="width: 100%;">
        <img class="mypage_icon" src="{% static 'images/mypage.png' %}"/>
    </a>
    {% endif %}
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Home</div>
                    <a class="nav-link" href="{% url 'Summaryapp:summary' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-folder-open"></i></div>
                        SUMMARY
                    </a>

                    <div class="sb-sidenav-menu-heading">SEARCH</div>
                    <a class="nav-link collapsed" href="{% url 'Searchapp:document' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        PAPER
                    </a>
                    <a class="nav-link collapsed" href="{% url 'Searchapp:booksearch' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        BOOK
                    </a>

                    <div class="sb-sidenav-menu-heading">COMMUNITY</div>
                    <a class="nav-link" href="{% url 'Board:board_list' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-edit"></i></div>
                        BOARD
                    </a>

                    <div class="sb-sidenav-menu-heading">User</div>
                    {% if user.is_authenticated %}    
                        <a class="nav-link" href="{% url 'Mainapp:mypage' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-alt"></i></div>
                            MyPage
                        </a>
                        <a class="nav-link" href="{% url 'Mainapp:logout' %}">
                            <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                            LogOut
                        </a>
                    {% else %}
                        <a class="nav-link" href="{% url 'Mainapp:login' %}?next={{ request.path }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-sign-in-alt"></i></div>
                            LogIn
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>