{% load static %}
<!-- 페이징처리 시작 -->
<div id="paging">
    <ul class="pagination justify-content-center">
        <!--        이전 페이지-->
        {% if posts.has_previous %}
        <li class="page-item">
            <a class="page-link"
                href="?q={{ q }}&page=1">
                처음
            </a>
        </li>
        <li class="page-item">
            <a class="page-link"
                href="?q={{ q }}&page={{ posts.previous_page_number }}">
                이전
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                이전
            </a>
        </li>
        {% endif %}
        <!--        페이지 리스트-->
        {% for page_number in posts.paginator.page_range %}
        {% if page_number >= posts.number|add:-5 and page_number <= posts.number|add:5 %}
        {% if page_number == posts.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?q={{ q }}&page={{ page_number }}">
                {{ page_number }}
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?q={{ q }}&page={{ page_number }}">
                {{ page_number }}
            </a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!--        다음 페이지-->
        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link"
                href="?q={{ q }}&page={{ posts.next_page_number }}">
                다음
            </a>
        </li>
        <li class="page-item">
            <a class="page-link"
                href="?q={{ q }}&page={{ posts.paginator.num_pages }}">
                마지막
            </a>
        </li>
        {% else %}
        <li class="page0item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                다음
            </a>
        </li>
        {% endif %}
    </ul>
</div>
<!-- 페이징처리 끝 -->