<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Book recommendation</title>
  <link rel="stylesheet" href="/static/css/booksearch.css"> <!-- css 경로 -->
  <script src="https://kit.fontawesome.com/b0ef0a4fe9.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- 검색창 -->
  <div class = "box">
    <a href="http://127.0.0.1:8000/search/booksearch/">
      <img src="/static/images/booklogo.png" width="250">
    </a>
  </div>
    <div class="search-box">
      <form action = "http://127.0.0.1:8000/search/book/"  method = "POST">
      {% csrf_token %}
      <input class="search-txt" type="text" name="search" placeholder="검색어를 입력하세요.">
      <a class="search-btn">
        <i class="fas fa-search"></i>
      </a>
    </div>
  </body>
</html>
