<h1>
    논문 연관도 순 top 10
</h1>
<table border = "1" class = "dataframe">
    <thead>
        <tr style = "text-align : center;">
            <th>추천순위</th>
            <th>국문제목</th>
            <th>영문제목</th>
            <th>저자</th>
            <th>연도</th>
            <th>언어</th>
            <th>발행국</th>
            <th>출처</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>{{doc1.0}}</td>
            <td>{{doc2.0}}</td>
            <td>{{doc3.0}}</td>
            <td>{{doc4.0}}</td>
            <td>{{doc5.0}}</td>
            <td>{{doc6.0}}</td>
            <td><a href = {{doc8.0}}>{{doc8.0}}</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>{{doc1.1}}</td>
            <td>{{doc2.1}}</td>
            <td>{{doc3.1}}</td>
            <td>{{doc4.1}}</td>
            <td>{{doc5.1}}</td>
            <td>{{doc6.1}}</td>
            <td><a href = {{doc8.1}}>{{doc8.1}}</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>{{doc1.2}}</td>
            <td>{{doc2.2}}</td>
            <td>{{doc3.2}}</td>
            <td>{{doc4.2}}</td>
            <td>{{doc5.2}}</td>
            <td>{{doc6.2}}</td>
            <td><a href = {{doc8.2}}>{{doc8.2}}</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>{{doc1.3}}</td>
            <td>{{doc2.3}}</td>
            <td>{{doc3.3}}</td>
            <td>{{doc4.3}}</td>
            <td>{{doc5.3}}</td>
            <td>{{doc6.3}}</td>
            <td><a href = {{doc8.3}}>{{doc8.3}}</a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>{{doc1.4}}</td>
            <td>{{doc2.4}}</td>
            <td>{{doc3.4}}</td>
            <td>{{doc4.4}}</td>
            <td>{{doc5.4}}</td>
            <td>{{doc6.4}}</td>
            <td><a href = {{doc8.4}}>{{doc8.4}}</a></td>
        </tr>
        <tr>
            <td>6</td>
            <td>{{doc1.5}}</td>
            <td>{{doc2.5}}</td>
            <td>{{doc3.5}}</td>
            <td>{{doc4.5}}</td>
            <td>{{doc5.5}}</td>
            <td>{{doc6.5}}</td>
            <td><a href = {{doc8.5}}>{{doc8.5}}</a></td>
        </tr>
        <tr>
            <td>7</td>
            <td>{{doc1.6}}</td>
            <td>{{doc2.6}}</td>
            <td>{{doc3.6}}</td>
            <td>{{doc4.6}}</td>
            <td>{{doc5.6}}</td>
            <td>{{doc6.6}}</td>
            <td><a href = {{doc8.6}}>{{doc8.6}}</a></td>
        </tr>
        <tr>
            <td>8</td>
            <td>{{doc1.7}}</td>
            <td>{{doc2.7}}</td>
            <td>{{doc3.7}}</td>
            <td>{{doc4.7}}</td>
            <td>{{doc5.7}}</td>
            <td>{{doc6.7}}</td>
            <td><a href = {{doc8.7}}>{{doc8.7}}</a></td>
        </tr>
        <tr>
            <td>9</td>
            <td>{{doc1.8}}</td>
            <td>{{doc2.8}}</td>
            <td>{{doc3.8}}</td>
            <td>{{doc4.8}}</td>
            <td>{{doc5.8}}</td>
            <td>{{doc6.8}}</td>
            <td><a href = {{doc8.8}}>{{doc8.8}}</a></td>
        </tr>
        <tr>
            <td>10</td>
            <td>{{doc1.9}}</td>
            <td>{{doc2.9}}</td>
            <td>{{doc3.9}}</td>
            <td>{{doc4.9}}</td>
            <td>{{doc5.9}}</td>
            <td>{{doc6.9}}</td>
            <td><a href = {{doc8.9}}>{{doc8.9}}</a></td>
        </tr>
    </tbody>
</table>

<div id = "div1" align = "center">
    <h6>top 1 국문초록<br>{{doc7.0}}</h6><br>
    <h6>top 2 국문초록<br>{{doc7.1}}</h6><br>
    <h6>top 3 국문초록<br>{{doc7.2}}</h6><br>
    <h6>top 4 국문초록<br>{{doc7.3}}</h6><br>
    <h6>top 5 국문초록<br>{{doc7.4}}</h6><br>
    <h6>top 6 국문초록<br>{{doc7.5}}</h6><br>
    <h6>top 7 국문초록<br>{{doc7.6}}</h6><br>
    <h6>top 8 국문초록<br>{{doc7.7}}</h6><br>
    <h6>top 9 국문초록<br>{{doc7.8}}</h6><br>
    <h6>top 10 국문초록<br>{{doc7.9}}</h6><br>
</div>