body {
  background-image:url('/static/images/paper.jpg');
  background-size: cover;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.search-box{
  position: absolute;
  top: 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  background: #F0F8FF;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  width: 600px;
}

.search-btn{
  color: #f0b71c;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F0F8FF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt{
  border:none;
  margin-left: 100px;
  background: none;
  outline: none;
  float: left;
  margin-left : 30px;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 500px;
}
.box {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
  min-height: 65vh;
}
table.booktable {
  font-family: Verdana, Geneva, sans-serif;
  margin-left: auto;
  margin-right: auto;
}
table.booktable td, table.booktable th {
  border: 1px solid black;
  padding: 3px 2px;
}
table.booktable tbody td {
  font-size: 16px;
}
table.booktable tfoot td {
  font-size: 16px;
}
.home-btn{
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  color: white;
}