<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SOWS</title>
  <link rel="stylesheet" href="/static/css/meeting.css"> <!-- css 경로 -->
  <script src="https://kit.fontawesome.com/b0ef0a4fe9.js" crossorigin="anonymous"></script>
  <div class="home-btn">
    <a href="http://127.0.0.1:8000/">
      <img src="/static/images/homebtn.png" width="30">
    </a>
  </div>
  <style>
    .search-box{
        position: absolute;
        top: 50%;
        left : 50%;
        transform: translate(-50%, -50%);
        background: #2f3640;
        color: white;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
        width: 235px;
      }
    
    .box {
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }
</style>
</head>
<body>
  <!-- 검색창 -->
  <div class = "box"><h2>회의 기록</h2></div>
      <button class="button search-box" onclick="location.href='meeting'">Click</button>
    </div>
  </body>
</html>
