body {
    background-color: #e9e4cf;
    background-size: cover;
}
.top{
  text-align: center;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
.voice{
  margin-top: 300px;
  text-align: center;
}
.home-btn{
  float: right;
  margin-right: 20px;
}
.submit-btn {
  margin-top: 15px;
  font-size: 15px;
  color: #fff;
  background-color: #4E4E4E;
  padding: 12px 25px;
  border-radius: 22px;
  border: 1px solid lightgray;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s;
  text-decoration: none;
  outline: none;
}