<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    <!--제이쿼리-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
 
</head>
<body>
    <h1>
        요약할 텍스트를 입력하세요
    </h1>
    <form action = "http://127.0.0.1:8000/summary/textsummary/" method = "POST">
        {% csrf_token %}
        <textarea id="content" name="content" cols="50" rows="30"></textarea>
        <div id="test_cnt">(0 / 100)</div>
    
        <script>
    
        $(document).ready(function() {
            $('#content').on('keyup', function() {
                $('#test_cnt').html("("+$(this).val().length+" / 100)");
    
                if($(this).val().length > 100) {
                    $(this).val($(this).val().substring(0, 100));
                    $('#test_cnt').html("(100 / 100)");
                }
            });
        });
            
        </script>
        <input type = "submit" value = "요약"/>
    </form>
</body>
</html>