<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Summary</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}" />
    </head>
    <body class="sb-nav-fixed">
        <style>
            .submit-btn { position: relative;
                          margin-left : 500px;
                          top: -45px;
                        }
          </style>
        {% include 'header.html' %}              
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Translate</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">번역본 입니다.</li>
                            <div onclick="loading()" style="text-align: center;">
                                <Button id="writing_button" type="button" class="submit-btn" onclick="location.href='{% url "Summaryapp:enkr" %}'">
                                  요약하기
                                </Button>
                            </div>
                        </ol>
                    </div>
                     <!-- Navbar Search-->
                    <div class="container-fluid px-4 mt-5">
                        <div class ='row mt-5'>
                            <div class='col-12'>
                                {{totals}}
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <script src="{% static 'js/scripts.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/loadingoverlay.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/loading.js' %}"></script>
    </body>
</html>